*,
*::before,
*::after {
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important; 
    overflow-x: hidden;
}
.background_image{
    height:fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bus1.png');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 110vh; 
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.heading{
    color:#fff;
}
.heading h1{
   font-size:72px;
   margin-top: 4em;
   font-weight: 700;
   font-family: Poppins;
    
}
.heading p{
    font-size:26px;
    margin-top: 2.5em;
    font-weight:700;
    top:-1em;  
    font-family: Poppins !important;
 }
.nav{
    z-index: 1000;
    padding-top:2em;
    display: flex;
    justify-content: center;
    font-family: Heebo;
}
.navbar{
    background-color: #fff ;
    border-radius: 10px 10px !important;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.logo{
    width: 210px;
    height:70px !important;
    margin:0px;
    padding:0px;
}
.home{
    padding-left:16em;
}
.about{
    padding-left:2em;
}
.download{
    padding-left:2em;
}

.contact{
    padding-left:5em;
}

.call{
    display:flex ;
}

.fa-phone{
    background-color:  #1E88E1;
    padding:8px 8px;
    border-radius: 50% 50%;
}

.nav-link{
    color:#000;
    font-family: Heebo;
    font-weight: bold;
}

.nav-link:hover{
   color:#1E88E1!important;
}

.nav-link.active, .nav-link.active:hover{
    color:#1E88E1 !important;
}

/* button */
.custom-btn {
    display: inline-block;
    padding: 10px 100px; 
    font-size: 1.2rem; 
    margin: 10px 50px;
    color: #fff; 
    background-color: #1E88E1; 
    border: none; 
    border-radius: 30px 30px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
}

.custom-btn:hover {
    border: 1px solid #1E88E1;
    color:#fff; 
}

.custom-btn1 {
    display: inline-block;
    padding: 10px 100px; 
    font-size: 1.2rem; 
    margin: 10px 50px;
    color: #fff; 
    background-color: #1E88E1; 
    border: none; 
    border-radius: 30px 30px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
}


.custom-btn1:hover {
    background-color: #1E88E1; 
    transform: scale(1.05);
    color:#fff; 
}

.custom-btn1:active, .custom-btn:focus {
    background-color: #1E88E1; 
    outline: none; 
}


.route{
    width: 80%;
    height: 30vh;
    align-items: center;
    position: absolute;
    background-color: #fff;
    left:10%;
    z-index:100;
    top:53.5em;
    padding: 2em 2em;
    border-radius: 10px 10px !important;
}

select.form-control {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
  }


.bus-operator{
    background-color: #1E88E1;
    margin: 0;
    top:-17em;
    width: 100%;
    height:50vh;
    color:#fff;
}

.rowSpacing{
    padding-top:0em;
}


.searchBuses{
    position:absolute;
    top:10em; 
    left:-2em;
}


.action{
    margin-top:4.6em;
}

.inputState{
    font-family: barlow;
    font-weight:900;
    color:#000;
}

.bus-operator h3{
    position:absolute;
    top:42em;
    left:5.3em;
}
.operatorcarousel{
    display: flex;
    position: absolute;
    top:76.5em;
    left:9.5em;
}
.operatorspace{
    width:18em;
    height:8px;
    background-color:#fff;
    margin:10px;
    padding: 45px 40px;
    color:#000;
    border-radius: 10px 10px;
    display: flex;
    font-family: "Work Sans", sans-serif;
   
}
.fa-car{
 font-size:24px;  
 color: #1E88E1;
 padding-top:3px;
 
}
.operatorspace i,p{
    margin-top: -10px;
    
}
.operatorspace i{
    padding-right: 10px;
    
}
.viewall{
    position:absolute;
    top:6em;
    left:0em;
    font-family:"Work Sans", sans-serif;
    font-size: 24px;

}
.backnext{
    display: flex;
    position:absolute;
    top:9em;
    left:70em;
}
.fa-angle-left{
  background-color: #fff;
  padding:5px 15px;
  color:#1E88E1;
  margin:2px;
  border-radius: 3px 3px;
}
.fa-angle-right{
    background-color: #fff;
    padding:5px 15px;
    color:#1E88E1;
    margin:2px;
    border-radius: 2px 2px;
  }
  .howitworks{
    height:40vh;
    background-color: #fff;
  }
  .howitworks h4{
    color: #494141;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Work Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 57.143% */
    letter-spacing: 0.4px;
    position:absolute;
    margin-top: 1em;
    margin-left: 6em;

  }
  .cards{
    position: absolute;
    top:95em;
    left:8.4em  
  }
  .card-body{
      margin-top:3em;
  }

  .card-body h2{
    color: #494141;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .card-body p{
    color: #494141;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 0.5em;
  }
  .get_our_app{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/getapp.jpeg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height:65vh; 
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .get_app{
    color:#fff; 
  
  }

  .getapptitle{
    padding-top: 4em;
    position:relative;
    margin-left: 16em;
    font-family: "Work Sans";
  }
  .getapptitle1{
    position:relative;
    margin-left: 15.7em;
    font-family: "Work Sans";
  }
.get_app_description{
    margin-left: 14.2em;
    font-family: "Work Sans";
    width:30%;
    position: absolute;
    left:30.7em;
    text-align: left;
    margin-top:0.8em;
    font-size: 20px;
   
  }

  .appstore {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 10px 10px;
    border:1px solid #000;
    margin-left:-3.2em;
}

.appstore img {
    display: block;
    width: 150px;  /* Adjust the width as needed */
    height: auto;  /* Maintain the aspect ratio */
   
}

.appstore:focus {
    outline: none;
}

.appstore:hover img {
    opacity: 0.8;  /* Optional: change opacity on hover */
}
.get_button{
    margin-top:13em;
    margin-left:40em;
}

.playstore {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 10px 10px;
    border:1px solid #000;
    margin-left:0.7em;
}

.playstore img {
    display: block;
    width: 150px;  /* Adjust the width as needed */
    height: auto;  /* Maintain the aspect ratio */
   
}

.playstore:focus {
    outline: none;
}

.playstore:hover img {
    opacity: 0.8;  /* Optional: change opacity on hover */
}

/* faq */
.faq{
    height:42vh;
    background-color: #fff;
}
.accordion{
    position:relative;
    top:-1em;
}
/* Remove blue background color on focus */
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

/* Add thicker black border-top to accordion body */
.accordion-body {
    border-top: 1px solid rgb(210, 206, 206); 
    padding-top: 1rem; 
}

/* Style for the arrow */
.accordion-button::after {
    content: "\25BC"; 
    font-size: 1.4rem;
    float: right;
    transition: transform 0.3s ease;
}

.accordion-button.collapsed::after {
    
    transform: rotate(180deg);

}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg); 
}
.faq1{
    margin-top:2em;
    color: #1E88E1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Work Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 0.4px;
}
.footer{
    height:60vh;
    background-color: #000;
    color:#fff;
}
.footerdescription{
   position:absolute;
   width:25%;
   left:9em;
   margin-top:12em;
   font-family: "Heebo";
   font-style: normal;
  
}
.footerdescription p{
    font-family: "Heebo";
    font-style: normal;
   
 }
 .social-media{
    display: flex;
 }
 .facebook{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-facebook{
    margin-top:8px;
 }
 .twitter{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-twitter{
    margin-top:8px;
 }
 .instagram{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-instagram{
    margin-top:8px;
 }
 .youtube{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-youtube-play{
    padding-top:8px;
 }
 .social{
    color:#fff!important;
 }

 .links{
    position:absolute;
    left:38em;
    margin-top:6em;
    font-family: Barlow;
 }
 
 a {
    text-decoration: none;
    color:#fff;
    margin-top:3px;
 }
 .link1{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
 }
 .link1 p{
    font-size:30px;
 }
 .about{
    padding-left:33px;
 }
 
 .link2{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link2 p{
    font-size:30px;

 }
 .service{
    padding-left:33px;
 }
 
 .link3{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link3 p{
    font-size:30px;

 }
 .projects{
    padding-left:33px;
 }
 
 .link4{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link4 p{
    font-size:30px;

 }
 .pricing{
    padding-left:33px;
 }
 .link5{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link5 p{
    font-size:30px;

 }
 .contact{
    padding-left:33px;
 }
 .links h3{
    margin-bottom: 2.3em;
    font-weight: 600
 }
 .contactinfo{
    position:absolute;
    left:52em;
    margin-top:8em;
    width: 40%!important;
 }
.address{
    display:flex;
    color:#fff;
    width:60% !important;
    padding-top:2.1em;
   
}
.fa-map-marker{
    color:#1E88E1;
   
}
.address1{
    position: absolute;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF;
}
.phone{
    display:flex;
    color:#fff;
    width:60% !important;
    padding-top:3.1em;

}
.fa-phone{
    color:#1E88E1;
}
.phone1{
    position: absolute;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF; 
}
.email{
    display:flex;
    color:#fff;
    width:60% !important;
    padding-top:3.1em;

}
.fa-envelope{
    color:#1E88E1;
}
.email1{
    position: absolute;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF; 
}
hr {
    border: 0;
    height: 1px;
    background: #fff;
    margin-top: 20px;
}