*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif !important; 
   
}

/* landing page and navbar */

.background_image{
    height:fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bus1.png');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 110vh; 
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.heading{
    color:#fff;
}
.heading h1{
   font-size:72px;
   margin-top: 4em;
   font-weight: 700;
   font-family: Poppins;
    
}
.heading p{
    font-size:22px;
    margin-top: 1.5em;
    font-weight:700;
    top:-3em;  
    font-family: "Work Sans" !important;
    
 }
.nav{
    z-index: 1000;
    padding-top:2em;
    display: flex;
    justify-content: center;
    font-family: Heebo; 
}
.navbar{
    background-color: #fff ;
    border-radius: 10px 10px !important;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.logo{
    width: 210px;
    height:70px !important;
    margin:0px;
    padding:0px;
}
.home{
    padding-left:16em;
}
.about{
    padding-left:2em;
}
.download{
    padding-left:2em;
}

.contact{
    padding-left:3em;
}

.call{
    display:flex ;
}

.fa-phone{
    background-color:  #1E88E1;
    padding:8px 8px;
    border-radius: 50% 50%;
}

.nav-link{
    color:#000;
    font-family: Heebo;
    font-weight: bold;
}

.nav-link:hover{
   color:#4F94CE!important;
}

.nav-link.active, .nav-link.active:hover{
    color:#4F94CE !important;
}

/* button */
.custom-btn {
    display: inline-block;
    padding: 15px 130px; 
    font-size: 1.2rem; 
    margin: 10px 80px;
    color: #fff; 
    background-color: #1E88E1; 
    border: none; 
    border-radius: 30px 30px; 
    text-align: center; 
    text-decoration: none;  
    transition: background-color 0.3s, transform 0.3s; 
}

.custom-btn:hover {
    border: 1px solid #1E88E1;
    color:#fff; 
}

.custom-btn1 {
    display: inline-block;
    padding: 10px 100px; 
    font-size: 1.2rem; 
    margin: 10px 50px;
    color: #fff; 
    background-color: #1E88E1; 
    border: none; 
    border-radius: 30px 30px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
}


.custom-btn1:hover {
    background-color: #1E88E1; 
    transform: scale(1.05);
    color:#fff; 
}

.custom-btn1:active, .custom-btn:focus {
    background-color: #1E88E1; 
    outline: none; 
}


.route{
    width: 80%;
    height: 30vh;
    align-items: center;
    position: relative;
    background-color: #fff;
    left:10%;
    z-index:100;
    top:-8.5em;
    padding: 2em 2em;
    border-radius: 10px 10px !important;
}

select.form-control {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
  }


.bus-operator{
    background-color: #1E88E1;
    margin: 0;
    /* top:-17em; */
    width: 100%;
    height:55vh;
    color:#fff;
    position:relative;
    top:-17em;
}

.rowSpacing{
    padding-top:0em;
}


.searchBuses{
    position:absolute;
    top:10em; 
    left:-2em;
}


.action{
    margin-top:4.6em; 
}

.inputState{
    font-family: barlow;
    font-weight:900;
    color:#000;
}

.bus-operator h3{
    position:absolute;
    top:7.5em;
    left:5.3em;
}
.operatorcarousel{
    display: flex;
    position: relative;
    top:17em;
    left:9.5em;
}
.operatorspace{
    width:18em;
    height:8px;
    background-color:#fff;
    margin:10px;
    padding: 45px 40px;
    color:#000;
    border-radius: 10px 10px;
    display: flex;
    font-family: "Work Sans", sans-serif;
   
}

.fa-car{
 font-size:24px;  
 color: #1E88E1;
 padding-top:3px;
 
}
.operatorspace i,p{
    margin-top: -10px;
    
}
.operatorspace i{
    padding-right: 10px;
    
}
.viewall{
    position:absolute;
    top:6em;
    left:0em;
    font-family:"Work Sans", sans-serif;
    font-size: 24px;

}
.backnext{
    display: flex;
    position:absolute;
    top:9em;
    left:70em;
}
.fa-angle-left{
  background-color: #fff;
  padding:5px 15px;
  color:#1E88E1;
  margin:2px;
  border-radius: 3px 3px;
}
.fa-angle-right{
    background-color: #fff;
    padding:5px 15px;
    color:#1E88E1;
    margin:2px;
    border-radius: 2px 2px;
  }
/* 
  end landing and navbar */
  
  .howitworks{
    height:15vh;
    background-color: #fff;
  }
  .howitworks h4{
    color: #494141;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Work Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 57.143% */
    letter-spacing: 0.4px;
    position:relative;
    top:-8em;
    margin-top: 1em;
    margin-left: 4.5em;

  }
  .cards{
    position: relative;
    top:-13em;
    left:7em;  
    width: 90%;
  }
  .card {
    width: 25rem;
    height: 14rem;
    box-shadow: 0 4px 8px rgba(72, 72, 73, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border:none;
}

.card-body {
    padding: 20px 0;
    font-family: "Work Sans", sans-serif;
}
  /* .card-body{
      margin-top:3em;
  } */

  .card-body h3{
    color: #494141;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin:2em 0 0 1em;
  }
  .card-body p{
    color: #494141;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 1em 2em 0 2em;
  }
  
  .get_our_app{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/getapp.jpeg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height:65vh; 
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .get_app{
    color:#fff; 
  }

  .getapptitle{
    padding-top: 4em;
    position:relative;
    margin-left: 19em;
    font-family: "Work Sans";
    z-index:1000;
  }
  .getapptitle1{
    position:relative;
    margin-left: 15.7em;
    font-family: "Work Sans";
  }
.get_app_description{
    margin-left: 14.2em;
    font-family: "Work Sans";
    width:30%;
    position: relative;
    left:30em;
    text-align: left;
    margin-top:0.8em;
    font-size: 20px;
   
  }

  .appstore {
    position:relative;
    top:-11em;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 10px 10px;
    border:1px solid #000;
    margin-left:-3.2em;
}

.appstore img {
    display: block;
    width: 150px; 
    height: auto; 
   
}

.appstore:focus {
    outline: none;
}

.appstore:hover img {
    opacity: 0.8;  /* Optional: change opacity on hover */
}
.get_button{
    margin-top:13em;
    margin-left:40em;
}

.playstore {
    position:relative;
    top:-11em;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 10px 10px;
    border:1px solid #000;
    margin-left:0.7em;
}

.playstore img {
    display: block;
    width: 150px;  
    height: auto;  
}

.playstore:focus {
    outline: none;
}

.playstore:hover img {
    opacity: 0.8; 
}

/* faq */
.faq{
    height:42vh;
    background-color: #fff;
}
.accordion{
    position:relative;
    top:-1em;

}
/* Remove blue background color on focus */
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-body {
    border-top: 1px solid rgb(210, 206, 206); 
    padding-top: 1rem; 
}

.accordion-button::after {
    content: "\25BC"; 
    font-size: 1.4rem;
    float: right;
    transition: transform 0.3s ease;
}

.accordion-button.collapsed::after {
    
    transform: rotate(180deg);

}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg); 
}
.accordion-button{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.faq1{
    margin-top:2em;
    color: #1E88E1 !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Work Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 0.4px;
}




hr {
    border: 0;
    height: 1px;
    background: #fff;
    margin-top: 20px;
}


/* animation */

.heading {
    text-align: center;
    /* margin-top: 10px; */
}

.animatedText {
    display: inline-block;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}


/* ends animation */


.contactsection{
    height: 86.8px;
    width: 190px;
    margin:-5em 0 !important;
    padding:-2em;
    background-color: #4F94CE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px #4F94CE;

}

.contactsection p{
    color:#fff;
    margin-top: 1em;
}
.header-contact{
    font-size: 13px !important;
    position: absolute;
    top:2.3em;
    margin-left: 2.8em;
  
}
.fa-phone{
    z-index:10000;
    position: absolute;
    right:8.7em;
    font-size:48px;
    bottom: 1.2em;
}


.bus{
    background-color: #1E88E1;
    width:250px;
    height:17px;
    position:relative;
    left:64em;
    top:-1.7em;
    z-index: 1;
}
.near{
  margin-left: 3.6em;
}

.fa-phone1{

   background-color:  #1E88E1;
    padding:8px 8px;
    border-radius: 50% 50%;
    position:relative;
    bottom: 0.7em;
}


/* about page */
.about_background_image{
    height:fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/getapp.jpeg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 38.95vh; 
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.about_heading{
   color:#fff;
    margin-top: 1.8em;
    font-size: 50px;
}
.about_description{
    height:50vh;
    background-color:  #fff;
    color:#000;
    font-family: "Heebo";
}

.about_description1{
    position:relative;
    /* top:-11em; */
    font-size:20px;
    margin:0.4em 2em;
    padding:1em;
    text-align: left;
}

.about_description2{
    position:relative;
    top:-5em;
    font-size:20px;
    margin:4em 2em;
    text-align: left;
    padding:1em;
}
.description{
    position:relative;
    top:4em;
}
.about_description3{
    padding-left: -3em;
}
.about_description3{
    position:relative;
    top:-9em;
    font-size:20px;
    margin:4em 2em;
    text-align: left;
    padding:1em;
}
.about_description4{
    position:relative;
    top:-14em;
    font-size:20px;
    margin:4em 2em;
    text-align: left;
    padding:1em;
}

/* download ticket css */
.download_ticket_card{
    height:50vh;
    background-color:  #fff;
    /* background: linear-gradient(to right, rgba(30, 136, 225, 0.8), rgba(0, 176, 255, 0.8), rgba(106, 183, 255, 0.8)); */
    color:#000;
    font-family: "Heebo";
    margin-top:5em;
}

.download_heading{
    color:#fff;
     margin-top: 1.8em;
     font-size: 50px;
 }

 .card1 {
    background: #fff;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    width: 40em;
    padding: 20px;
    color: white;
    margin-left: 27.3em;
    margin-top:10em !important;
    height:40vh;
    
}
.download_ticket p{
    color:#000 !important;
    font-size: 22px;
    font-family: "Heebo";
}
.downloadButton{
    height:3em;
    width:30em;
}

.contactus{
    height:40vh;
    background-color:  #fff;
    /* background: linear-gradient(to right, rgba(30, 136, 225, 0.8), rgba(0, 176, 255, 0.8), rgba(106, 183, 255, 0.8)); */
    color:#000;
    font-family: "Heebo";
    margin-top:5em;
}

.contact p{
    color:#000 !important;
    font-size: 22px;
    font-family: "Heebo";
    margin-top:5px;
}



.contactus2{
    height:73vh;
    background-color:  #fff;
    /* background: linear-gradient(to right, rgba(30, 136, 225, 0.8), rgba(0, 176, 255, 0.8), rgba(106, 183, 255, 0.8)); */
    color:#000;
    font-family: "Heebo";
    margin-top:5em;
}

.contact2 p{
    color:#000 !important;
    font-size: 22px;
    font-family: "Heebo";
    margin-top:5px;
}



.card2 {
    background: #fff;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    width: 40em;
    padding: 20px;
    color: white;
    margin-left: 27.3em;
    margin-top:10em !important;
    height:62vh;
    
}



/* footer */
.footer{
    height:60vh;
    background-color: #000;
    color:#fff;
}
.footerdescription{
   position:relative;
   width:25%;
   left:9em;
   margin-top:12em;
   font-family: "Heebo";
   font-style: normal;
  
}
.footerdescription p{
    font-family: "Heebo";
    font-style: normal;
   
 }
 .social-media{
    display: flex;
 }
 .facebook{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-facebook{
    margin-top:8px;
 }
 .twitter{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-twitter{
    margin-top:8px;
 }
 .instagram{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-instagram{
    margin-top:8px;
 }
 .youtube{
    background-color: #1E88E1;
    width:40px;
    height: 40px;
    text-align:center;
    border-radius: 5px 5px;
    margin-right: 1em;
 }
 .fa-youtube-play{
    padding-top:8px;
 }
 .social{
    color:#fff!important;
 }

 .links{
    position:relative;
    left:38em;
    margin-top:6em;
    font-family: Barlow;
 }
 
 a {
    text-decoration: none;
    color:#fff;
    margin-top:3px;
 }

 .link1{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    width:15em;
 }
 .link1 p{
    font-size:30px;
 }

 
 .link2{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link2 p{
    font-size:30px;

 }
 .service{
    padding-left:33px;
 }
 
 .link3{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link3 p{
    font-size:30px;

 }
 .projects{
    padding-left:33px;
 }
 
 .link4{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link4 p{
    font-size:30px;

 }
 .pricing{
    padding-left:33px;
 }
 .link5{
    display: flex;
    color:#1E88E1;
    background-color: none!important;
    margin-top: -1em;
 }
 .link5 p{
    font-size:30px;

 }
 .contact{
    padding-left:33px;
    padding-right: 2em;
 }
 .links h3{
    margin-bottom: 2.3em;
    font-weight: 600
 }
 .feedback{
    padding-left:-5em;
    padding-right:3em;
}

 .contactinfo{
    position:relative;
    left:-4em;
    margin-top:8em;
    width: 60%!important;
 }
.address{
    display:flex;
    color:#fff;
    width:100% !important;
    padding-top:2.1em;
   
}
.fa-map-marker{
    color:#1E88E1;
   
}
.address1{
    position: relative;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF;
}
.phone{
    display:flex;
    color:#fff;
    width:60% !important;
    padding-top:3.1em;

}
.fa-phone{
    color:#4F94CE;
    background-color: #4F94CE;
}
.phone1{
    position: absolute;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF; 
}
.email{
    display:flex;
    color:#fff;
    width:60% !important;
    padding-top:3.1em;

}
.fa-envelope{
    color:#1E88E1;
}
.email1{
    position: absolute;
    padding-left:3em;
    border-bottom: 1px solid #CFCFCF; 
}


/* terms and condition */
.terms_description{
    height:200vh;
    background-color:  #fff;
    color:#000;
    font-family: "Heebo";
}
.terms_description h3{
  text-align:left;
  position:relative;
  left:1.9em;
  top:1.5em;
}
.terms{
    position:relative;
    top:6em;
    text-align:left;
    margin:-3em 4em 1em 2.7em;
    font-size: 20px;
}
.terms li{
    margin-top: 0.5em;
}
.responsibility{
text-align:left;
  position:relative;
  margin-right:2em;
  top:5em !important;
}

.respli{
    position:relative;
    top:10em;
    text-align:left;
    margin:-3em 4em 1em 2.7em;
    font-size: 20px;
}
.respli li{
    margin-top: 0.2em;
}
.not_responsibility{
  text-align:left;
  position:relative;
  margin-right:2em;
  top:8em !important;
}
.no_respli{
    position:relative;
    top:14em;
    text-align:left;
    margin:-3em 4em 1em 2.7em;
    font-size: 20px;
}

.privacy_description{
    height:100vh;
    background-color:  #fff;
    color:#000;
    font-family: "Heebo";
}
.privacy_description h3{
  text-align:center;
  position:relative;
  top:1.5em;
}