@media only screen and (max-width: 767px) {
/* landing and navbar start here */
.feedback1{
    display:none;

}
.contactsection{
    display: none;
}
.navbar-nav{
    text-align:center;
}
.home {
    position:relative;
    left:-8em;
}
.about{
    position:relative;
    left:-1em; 
}
.download{
    position:relative;
    left:-1em;
}
.contact{
    position:relative;
    left:0em; 
}
.feedback{
    position: relative;
    left:2em;
}
.heading h1{
    position: relative;
    top:-2em;
    font-size:53px;
}
.heading p{
    position: relative;
    top:-5em;
}
.action{
    position: relative;
    top:-4em;
}
.custom-btn {
    white-space: nowrap;
    text-align: center;
    position: relative;
    padding:0.5em 4em;
    
}
.custom-btn a{
    padding-right: 2em !important;
    
}
/* landing and navbar ends here */
/* 
bus-operators start here */
.bus-operator {
    height:100vh !important;
    margin-top:-10px;
    position:relative;
    top:-27em;
}
.route{
    display: block;
    height:43vh;
    width:80%;
}
.searchBuses{
   margin-top:7em;
}

.custom-btn1 {
    white-space: nowrap;
    font-size: 20px; 
    width:100%;
    color: #fff; 
    background-color: #1E88E1; 
    border-radius: 30px 30px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
    padding-left: -4em !important;
    position:relative;
    left:-1em;
}
.operatorcarousel{
    margin-top:4em;
    position:relative;
    left:3em !important;
}
.navigate{
    position:relative;
    top:-6em;
}
.backnext{
    position: relative;
    top:8.5em;
    left:2em;
}
.howitworks h4{
    position:relative;
    top:-15em;
    left:-4em;
}
/* .card {
    flex: 1 1 100%;
} */



/* how it works copy from rows */
.cards {
    position:relative;
    top: -25em;
    left:0.5em;
    width: 100%;
  }

  .card {
    width: 100%;
    height: auto;
    margin-bottom:1em;
  }

  .card-body h3,
  .card-body p {
    margin: 1em;
  }

.get_app{
    position:relative;
    top:-4em;
    left:-24em;
    
}
.getapptitle{
    width:100%;
    position:relative;
    left:-4em;
}
.near{
    position:relative;
    left:-3em;
}
.getapptitle1{
    width:100%;
    left:-2.3em;
}
.get_app_description{
    position:relative;
    left:6em;
    width:100%;
    padding:0 1em;
}
.get_button{
    position: relative;
    top:-4em;
    left:-34.5em;
}
.playstore{
    position: relative;
    top:-14.5em;
    left:6em;
   
}
.links{
    position:relative;
    top:-3em;
}
.linksHeading{
    width:400%;
  
}

.links h3{
    margin-left:0.3em;
}
.footerdescription{
    width:90%;
    left:0em;
    margin: 2em 0 2em 2em;
}
.contactinfo{
    position: relative;
    left:-4.5em;
    width:100%;
    display:inline;
    
}


.footer{
    height:110vh;
}
.contactHeading{
    width:100%;
}
.address{
    width:500% !important;
    display:flex;
}
.contactinfo h3{
    width:200%;
}
.address1{
    width:300% !important;
    display:inline;
    margin-left:2em;
    padding:0;
}
.email1{
    width:500% !important;
    display:flex;
}
.phone{
    width:900% !important;
    display:flex; 
}
.links{
    position:relative;
    top:13em;
    left:2em;
}
.all_links{
    position:relative;
    top:-2em;
}

/* about us */
.about_description{
    height:140vh;
}
.about_address{
    margin-left:2em !important;
}

.download_bg{
    height:50vh;
}
.download_ticket_card{
    height:60vh;
}
.download_ticket{
    padding-top:2em;
    position:relative;
    left:-26em;
    width:90%;
    height:55vh;
}
.download_ticket_nav{
    position:relative;
    top:-10em;
}



.downloadButton{
    width:80%;
}
.contactHeadingDownloadTicket{
    margin-left:3em;
}
.linksHeadingDownloadTicket{
    width:600%;
    position:relative;
    left:-3.8em;
    
}
.all_linksdownload{
    position:relative;
    left:-2em !important;
}


/* contact us */
.contact_small_device{
    position:relative;
    left:-26em;
    width:90%;
    top:-8em;
    height:67vh;
}
.email11{
    margin-left:0em !important;
}
.downloadButton{
    margin-bottom:10em;
}
.download_ticket_phone_number{
    width:50% !important;
    text-align:left;
}



.card2{
    position:relative;
    top:-3em;
   
}
.name{
    margin-left:-18em!important;
}
.phonenumber{
    margin-left:-7em!important;
    width:100%;
}
.headingContact{
    width:300%!important;
}
.linksHeadingContact{
    width:300%!important;
    margin-left:-2em;
}
.all_linksContact{
    margin-left:-5em;
}
.phone1Contact p{
    width:400%!important;
    margin-left:-2em;
}



/* customer feedback i small screens*/
.customer_feedback_small_screen{
    height:65vh!important;
}
.customer_feedback_bg_image{
    height:56vh!important;
}


.customer_feedback_header{
    font-size:32px;
}
.card_small_screen{
    width:90%!important;
    height:60vh !important;
}

.emoji-container .emoji-label::after {
    content: attr(data-label);
    display: block;
    text-align: center;
  }
  .emoji-container .emoji-label::after {
    display: none;
  }
  
.customer_feedback_linksHeading{
    width:300% !important;
}


.customer_feedback_address1{
   margin-left:2em!important;
}


.customer_feedback_phone1{
    width:300%!important;
}

/* terms and conditions */
.terms_description h3{
   font-size:24px;
   padding:0 0.1em;
   position:relative;
   left:1em;
}
.terms{
    margin:0 1em;
    padding:0 1em;
    width:100%;
    font-size:18px;
    position:relative;
    top:2em;
}

.terms_footer{
    position:relative;
    top:100em;
}

.responsibility h3{
    font-size:24px;
    padding:0 0.1em;
    position:relative;
    left:1em;
}

.respli{
    padding:0 1em;
    width:100%;
    font-size:18px;
    margin-left:1.2em;
    
}
.no_respli{
    padding:0 1em;
    width:100%;
    font-size:18px;
    margin-left:1.1em;
}
.terms_and_cond_bg_image{
    height:50vh!important;
}
.contact_terms{
    margin-left:3em;
}
.phone1_terms p{
    width:300%!important;
    margin-left:0em;
}

/* .linksHeading{
    width: 300% !important;
    margin-left:-2em;
}
.all_links{
    margin-left:-4.9em;
}
.customer_feedback_links{
    margin-left:0.2em;
}
.privacy_link{
    width:300%;
}


.home{
    margin-left:-8em;
} */

.service{
    text-wrap: nowrap;

}
.import{
    margin-left:-3em!important;
}
.contac{
    margin-left:-0.2em!important;
}
.contac1{
    margin-left:-2em !important;
}


/* adjusting  the diesign */


  .privacy_policy_footer{
    position: relative;
    top:235em;
  }
.important_links_cancellation{
   padding-left:3em!important;
   width:400%!important;
}

  .privacy_policy_contact_heading{
    padding-left:2.5em!important;
      width:300%!important;
  }

  .privacy_policy_important{
    padding-left:-7em!important;
    width:300%!important;
  }
  .all_links_contact{
    margin-left:-5em;
  }
  .phone_privacy{
    width:450%!important;
  }

/* 
  .important_links_cancellation{
    width:200%!important;
  } */


.terms_and_condition_important_links{
    padding-right:14em!important;
}






















}



